@import "tailwindcss";

@theme {
    --color-background: #1a1a1a;
    --color-primary: #f3f3f3;
    --color-secondary: #a2a2a1;
    --color-third: #ff8904;
    --color-background-card: #171717;
    --color-border: #262626;
}


body {

    font-family: 'Inter Variable', sans-serif;
}

html {
    background-color: var(--color-background);
    scroll-padding-top: 100px;
}