---
import Navbar from '@/components/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Experience from '@/sections/Experience.astro';
import Skills from '@/sections/Skills.astro';
import Projects from '@/sections/Projects.astro';
---

<Layout>
   <Navbar />

   <main>
      <Hero />
      <Experience />
      <Skills />
      <Projects />
   </main>
</Layout>
