---
import Background from '@/components/Background.astro';
import Navbar from '@/components/Navbar.astro';

import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
---

<Layout>
   <Navbar />

   <main>
      <Hero />
   </main>
</Layout>
