---
import { twMerge } from 'tailwind-merge';

interface Props {
   text: string;
   class?: string;
}

const { text, class: extraClass = '' } = Astro.props;
---

<span
   class={twMerge(
      'rounded-lg px-3 py-1 text-sm font-medium transition-transform bg-border text-primary duration-200 hover:scale-105  cursor-pointer',
      extraClass
   )}
>
   {text}
</span>
