---
import { twMerge } from 'tailwind-merge';

interface Props {
   id?: string;
   class?: string;
}

const { id, class: extraClass = '' } = Astro.props;
---

<section
   id={id}
   class={twMerge(
      'min-h-screen lg:mb-20 mb-10 max-w-4xl mx-auto px-4',
      extraClass
   )}
>
   <slot />
</section>
