---
import { cv } from '@/data/data';
import ExperienceCard from '@/components/ExperienceCard.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import SectionWrapper from '@/components/SectionWrapper.astro';
import SectionFooter from '@/components/SectionFooter.astro';

const { work } = cv;
---

<SectionWrapper id="experiencia">
   <SectionTitle
      title="Experiencia Profesional"
      subTitle=" Mi trayectoria profesional en el desarrollo de software y tecnología"
   />

   <div class="space-y-6 md:space-y-8" data-aos="fade-up">
      {work.map((experience) => <ExperienceCard {...experience} />)}
   </div>

   <SectionFooter
      text="En constante crecimiento profesional y aprendizaje de nuevas tecnologías"
   />
</SectionWrapper>
