---
import '@/styles/global.css';
import '@fontsource-variable/inter';
import 'aos/dist/aos.css';

import logo from '@/assets/logo.webp';
---

<!doctype html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
         name="description"
         content="Portafolio de Fabrizio Gutiérrez, programador web fullstack especializado en Go, PostgreSQL, frontend moderno y diseño visual con Tailwind y Astro."
      />
      <meta property="og:title" content="Fabrizio Gutiérrez - Portafolio Web" />
      <meta
         property="og:description"
         content="Bienvenido a mi portafolio, dónde conoceras un poco más de mí"
      />
      <meta property="og:image" content={logo.src} />
      <title>Portafolio de Fabrizio - Programador Web</title>
   </head>
   <body>
      <slot />
      <script>
         import AOS from 'aos';
         AOS.init();
      </script>
   </body>
</html>
